.atss{

    top: 5.3em;
}

a.at4-share-btn.at-svc-email-new {
/* background-position: 0 -576px!important; */
background: #51b157;
}


.at15t_resume {
background-position: 0 -864px!important;
}


a.at4-share-btn.at-svc-deviant {
background: #95a696;
}

span.at300bs.at15nc.at15t_deviant {
background-position: 0 -800px!important;
}

a.at4-share-btn.at-svc-skype {
background: #0099cc;
}

span.at300bs.at15nc.at15t_skype {
background-position: 0 -832px!important;
}













#banner{
    //width: 1000px;
    //margin-left: auto;
    //margin-right: auto;
    
    display: flex;
    
    top:100%;
    left: 0;
    right: 0;
    transition: top 0.7s;
    
    //background-image: url("Images/bg-line-tan.png");
    background-color: white;
    height: 5.3em;
    position: fixed;

    color: #8b7e6f;
    z-index: 90;
    line-height:normal;
}


#bannerInner{
    position: relative;
    height: 5em;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav { 
    position: relative;
    float: right;
    width: auto;
}

#logo{
    float: left;
    position: absolute;
    height: 4em;
    border: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 5px;
}


nav ul { 
    position: relative;
    margin: 0;
    font-size: 0px;
    padding: 0;
    //overflow: hidden;
}

nav ul a {
    
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 2em 1em;
    transition: background-color 0.3s;
    margin:0em 0em;
    border: 0;
    color:inherit;
    font-weight: 700;   
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul a:hover {
    background-color: gold;
    cursor: default;
}

#Theorange{
    background-color: gold;
    z-index: 100;
    width: 100%;
    height: 0.3em;
    position:absolute;
    top: 5em;
    left: 0;
}

#triangle {
    z-index: 101;
    width: 0;
    height: 0;
    border-top: 12px solid goldenrod;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    position:absolute;
    top: 5.3em;
    right: 0em;
    
    transition: right 0.7s;
}


#posterFrame{    
    position:absolute;
    top: 5em;
    overflow: hidden;
    width: 100%;
    height:20em;
    text-align: center;
}

#poster{
    width :120%;
    position: inherit;
    left: -10%;
    margin-left: auto;
    margin-right: auto;
    
}

.name{
    float: left;
    position: absolute;
    top: 34%;
    margin: auto;
    
    vertical-align: middle;
    font-size: 14px;
    opacity: 0.7;
    font-weight: 300;
}
.name.first{
    left: 71px;
    top: 27%;
}
.name.last{
    left: 85px; 
    top: 44%;
}